* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00adb5;
  color: white;
  padding: 15px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #17490d;
}

/* Menu */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3e094c;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #00adb5;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }
}